<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Iniciar Sesión</h3>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" placeholder="nombre@ejemplo.com">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        </div>
                        <div class="d-grid mb-3">
                            <button type="button" class="btn btn-primary" (click)="Login()">Iniciar Sesión</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p>¿No tienes una cuenta? <a href="">Regístrate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>