<div class="container mt-4">
    <h3 class="mb-3">Rol Usuario</h3>
    <button class="btn btn-outline-primary" (click)="Crudd('C')">Nuevo</button>

    <!-- Contenedor con scroll horizontal -->
    <div class="table-responsive">
        <table class="table table-hover custom-table">
            <thead class="table-dark">
                <tr>
                    <th>Acciones</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>
                        <button class="btn btn-sm btn-outline-primary me-1" (click)="Crudd('U', item)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" (click)="Crudd('D', item)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    <td>{{ item.fkemail }}</td>
                    <td>{{ item.fkidrol_descripcion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>