<div class="container mt-4">
    <h3 class="mb-3">Indicadores</h3>

    <div style="display: flex; margin-bottom: 26px; gap: 7px; flex-wrap: wrap;">
        <button class="btn btn-outline-primary" (click)="Consultas('indicadores-con-detalle')">indicadores con
            detalle</button>
        <button class="btn btn-outline-primary" (click)="Consultas('indicadores-representacion')">indicadores
            representacion</button>
        <button class="btn btn-outline-primary" (click)="Consultas('indicadores-actores')">indicadores actores</button>
        <button class="btn btn-outline-primary" (click)="Consultas('indicadores-fuentes')">indicadores fuentes</button>
        <button class="btn btn-outline-primary" (click)="Consultas('indicadores-variables')">indicadores
            variables</button>
        <button class="btn btn-outline-primary" (click)="Consultas('indicadores-resultados')">indicadores
            resultados</button>
    </div>

    <input type="text" class="form-control mb-3" placeholder="Buscar indicador..." [(ngModel)]="filtroTexto"
        (input)="filtrarTabla()" />

    <button class="btn btn-outline-primary" (click)="Crudd('C')" *ngIf="roles.includes('admin')">Nuevo</button>

    <!-- Contenedor con scroll horizontal -->
    <div class="table-responsive">
        <table class="table table-hover custom-table mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Acciones</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Objetivo</th>
                    <th>Alcance</th>
                    <th>Fórmula</th>
                    <th>Tipo Indicador</th>
                    <th>Unidad Medición</th>
                    <th>Meta</th>
                    <th>Sentido</th>
                    <th>Frecuencia</th>
                    <th>Artículo</th>
                    <th>Literal</th>
                    <th>Numeral</th>
                    <th>Parágrafo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataFiltrada">
                    <td>
                        <button class="btn btn-sm btn-outline-primary me-1" (click)="Crudd('U', item)"
                            *ngIf="roles.includes('admin') || roles.includes('Validador')">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" (click)="Crudd('D', item)"
                            *ngIf="roles.includes('admin')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.objetivo }}</td>
                    <td>{{ item.alcance }}</td>
                    <td>{{ item.formula }}</td>
                    <td>{{ item.fkidtipoindicador_descripcion }}</td>
                    <td>{{ item.fkidunidadmedicion_descripcion }}</td>
                    <td>{{ item.meta }}</td>
                    <td>{{ item.fkidsentido_descripcion }}</td>
                    <td>{{ item.fkidfrecuencia_descripcion }}</td>
                    <td>{{ item.fkidarticulo_descripcion }}</td>
                    <td>{{ item.fkidliteral_descripcion }}</td>
                    <td>{{ item.fkidnumeral_descripcion }}</td>
                    <td>{{ item.fkidparagrafo_descripcion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>