<div class="modal-content rounded shadow-lg border-0">
    <!-- Header con logo y botón de cierre -->
    <div class="modal-header p-4 position-relative border-0">

        <!-- Logo central -->
        <div class="d-flex justify-content-center w-100">
            <img src="" alt="Logo" class="mx-auto">
        </div>

        <!-- Botón cerrar flotante -->
        <button *ngIf="dismissible" type="button" class="btn-close position-absolute end-0 top-0 m-3" aria-label="Close"
            (click)="cancel()"></button>
    </div>

    <!-- Cuerpo del modal -->
    <div class="modal-body text-center p-4">
        <!-- Animación de icono dinámico -->
        <div class="icon-container mb-3">
            <i *ngIf="alertType === 'success'" class="bi bi-check-circle-fill text-success fs-1"></i>
            <i *ngIf="alertType === 'error'" class="bi bi-x-circle-fill text-danger fs-1"></i>
            <i *ngIf="alertType === 'info'" class="bi bi-info-circle-fill text-primary fs-1"></i>
            
        </div>

        <!-- Mensaje -->
        <p class="modal-message">{{ message }}</p>
    </div>

    <!-- Footer con botones de acción -->
    <div class="modal-footer border-0 justify-content-center py-3">
        <button type="button" class="btn btn-primary px-4 py-2 rounded-pill" (click)="confirm()">Aceptar</button>
        <button *ngIf="dismissible" type="button" class="btn btn-outline-secondary px-4 py-2 ms-2 rounded-pill"
            (click)="cancel()">Cancelar</button>
    </div>
</div>