<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{Consulta}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="data.length > 0; else sinDatos">
          <div class="table-responsive">
            <table class="table table-hover custom-table mt-3">
              <thead class="table-dark">
                <tr>
                  <th *ngFor="let col of columnas">{{ col }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of data">
                  <td *ngFor="let col of columnas">{{ row[col] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #sinDatos>
          <p>No hay datos para mostrar.</p>
        </ng-template>
      </div>
    </div>

  </div>
</div>